<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--[if lt IE 9]>
  <script type="text/javascript" src="lib/html5shiv.js"></script>
  <script type="text/javascript" src="lib/respond.min.js"></script>
  <![endif]-->
  <!--[if IE 6]>
  <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
  <script>DD_belatedPNG.fix('*');</script>
  <![endif]-->
  <script type="text/javascript" src="config.js"></script>
  <script type="text/javascript">
      conf.include_CSS(conf.Chui);conf.include_CSS(conf.Ciconfont);conf.include_CSS(conf.Chuiad);conf.include_CSS(conf.Cskin);conf.include_CSS(conf.Cstyle);conf.include_CSS(conf.Clogin);
      conf.include_JS(conf.Jquery);conf.include_JS(conf.Jhui);conf.include_JS(conf.Jlayer);conf.include_JS(conf.Jhuiad);conf.include_JS(conf.Jvue);conf.include_JS(conf.Jdata);conf.include_JS(conf.Jcont);
      conf.include_JS(conf.Jvalidate);conf.include_JS(conf.Jvalidatemethods);conf.include_JS(conf.Jmessageszh);conf.include_JS(conf.JdatePicker);
  </script>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header">四川省茂县人民法院-后台管理系统</div>
<div class="loginWraper">
  <div class="loginBox">
    <form class="form form-horizontal" id="loginform" >
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-7">
          <input  name="username" id="username" type="text" placeholder="账户" class="input-text size-L" v-model="admin.username">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-7">
          <input  name="password" id="password" type="password" placeholder="密码" class="input-text size-L" v-model="admin.password">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" value="登录">
          <input name="" type="reset" class="btn btn-default radius size-L" value="取消">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 申州科技 by Wisdom court v2.0</div>

</body>
<script>
  var vum=new Vue({
    el: "#loginform",
    data: {
      message: "",
      admin: {}
    },
    mounted(){
      this.postData()
    },
    methods: {
      postData:function(){
        $('#loginform').validate({
          rules: {
            username: {
              required: true,
              minlength: 4,
              maxlength: 16
            },
            password: {
              required: true
            }
          },
          messages:{
            username:'请输入用户名',
            password:'请输入密码'
          },
          submitHandler:function(){
            jQuery.ajax({
              type: 'POST',
              url: "/v1/user/login",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              data: JSON.stringify(vum.admin),
              success: function (res) {
                if(res.success == true){
                  window.location.href = "index.html";
                }else{
                  alert(res.message)
                }

              },
              error: function (err) {
                layer.msg(JSON.parse(err.responseText).message,{icon:2,time:3000});
              }
            })
          }
        })
      }
    }
  })

</script>
</html>